<a href="https://colab.research.google.com/github/johannagan/data-analyst-capstone-project/blob/main/Collecting_Job_Data_Using_GitHub_API.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Collect Jobs Data using GitHub Jobs API

Determine the number of job postings for the following languages:

-   C
-   C#
-   C++
-   Java
-   JavaScript
-   Python
-   Scala
-   Oracle
-   SQL Server
-   MySQL Server
-   PostgreSQL
-   MongoDB

In [1]:
import requests
import json

In [2]:
baseurl = "https://jobs.github.com/positions.json"

In [3]:
response = requests.get(baseurl)

In [4]:
data = response.json()

In [5]:
def get_number_of_jobs(technology):
    number_of_jobs = 0

    for i in range(len(data)):
        desc = data[i]['description']
        if technology in desc or technology.lower() in desc or technology.title() in desc or technology.upper() in desc:
            number_of_jobs += 1
            
    return technology,number_of_jobs

In [6]:
print(get_number_of_jobs('python'))

('python', 12)

Call the API for the listed technologies and write the results in an excel spreadsheet.

In [8]:
!pip install openpyxl
from openpyxl import Workbook

Requirement already satisfied: openpyxl in /usr/local/lib/python3.7/dist-packages (2.5.9)
Requirement already satisfied: et-xmlfile in /usr/local/lib/python3.7/dist-packages (from openpyxl) (1.1.0)
Requirement already satisfied: jdcal in /usr/local/lib/python3.7/dist-packages (from openpyxl) (1.4.1)

Create workbook:

In [9]:
wb = Workbook()
ws = wb.active

Find the number of jobs postings for each of the technology:

In [10]:
tech_list = [' C ','C#','C++','Java','JavaScript','Python','Scala','Oracle','SQL Server','MySQL Server','PostgreSQL','MongoDB']

In [11]:
for tech in tech_list:
    print(get_number_of_jobs(tech))
    ws.append(get_number_of_jobs(tech))

(' C ', 0)
('C#', 5)
('C++', 6)
('Java', 20)
('JavaScript', 14)
('Python', 12)
('Scala', 11)
('Oracle', 3)
('SQL Server', 5)
('MySQL Server', 0)
('PostgreSQL', 3)
('MongoDB', 2)

Save into an excel spreadsheet named 'github-job-postings.xlsx':

In [12]:
wb.save('github-job-postings.xlsx')

In [13]:
import pandas as pd

In [14]:
df = pd.read_excel('github-job-postings.xlsx')
df

              C    0
0             C#   5
1            C++   6
2           Java  20
3     JavaScript  14
4         Python  12
5          Scala  11
6         Oracle   3
7     SQL Server   5
8   MySQL Server   0
9     PostgreSQL   3
10       MongoDB   2